.app {
  display: flex;
  height: 100%;
  align-items: center; }

.app__title {
  font-family: Exo;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0 #000; }

.app__card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.app__wrap {
  width: 100%; }

.app__background {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6)), url(img/pattern.jpg);
  padding-top: 20px; }

@media only screen and (max-width: 960px) {
  .app {
    align-items: normal; } }

@media only screen and (min-width: 960px) {
  .app .app__background {
    background: none;
    padding: 0; } }
