@import "vars.scss";

.card{
  width: 320px;
  height: 480px;
  background: url("img/default-min.png");
  position: relative;
  cursor: pointer;
  &:hover {
    background: url("img/default-hover-min.png");
  }
  &:hover &__text-background{
    background: $default-hover-color;
  }
  &--selected {
    background: url("img/selected-min.png");
    &:hover {
      background: url("img/selected-hover-min.png");
    }
    &:hover .card__text-background{
      background: $selected-hover-color;
    }
  }
  &--disabled {
    background: url("img/disabled-min.png");
    cursor: default;
    &:hover {
      background: url("img/disabled-min.png");
    }
    &:hover .card__text-background{
      background: $disabled-color;
    }
  }
  &__text-content {
    margin-left: 50px;
    padding-top: 24px;
  }
  //использую миксин что-бы не дублировать код
  @mixin disabled {
    color: rgba(179, 179, 179, 0.5);
  }

  &__title {
    font-size: 16px;
    color: $text-color;
    &--disabled {
      @include disabled;
    }
  }
  &__brand {
    color: $black-color;
    font-size: 48px;
    font-weight: bold;
    &--disabled {
      @include disabled;
    }
  }
  &__taste {
    font-size: 24px;
    font-weight: bold;
    color: $black-color;
    margin-bottom: 16px;
    &--disabled {
      @include disabled;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 1.14;
    color: $text-color;
    &--disabled {
      @include disabled;
    }
  }
  &__desc-number {
    font-weight: 600;
  }
  &__gift {
    font-size: 14px;
    line-height: 1.14;
    color: $text-color;
    width: 130px;
    &--disabled {
      @include disabled;
    }
  }
  &__gift-amount {
    font-weight: 600;
  }
  &__text-background {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: $default-color;
    position: absolute;
    bottom: 15px;
    right: 15px;
    &--selected {
      background: $selected-color;
    }
    &--disabled {
      background: $disabled-color;
    }
  }
  &__amount {
    font-size: 21px;
    line-height: 1.05;
    text-align: center;
    color: $white-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &-number {
      font-size: 42px;
      display: block;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: $white-color;
    text-shadow: 0px 1px 0 $black-color;
    margin:15px 0 30px 0;
    &-buy {
      font-weight: bold;
      color: $default-color;
      cursor: pointer;
      border-bottom: 1px dashed $default-color;
    }
  }
  &__text-disabled {
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: $white-color;
    text-shadow: 0px 1px 0 $black-color;
    margin:15px 0 30px 0;
    color: #ffff66;
  }
}