.card {
  width: 320px;
  height: 480px;
  background: url("img/default-min.png");
  position: relative;
  cursor: pointer; }

.card:hover {
  background: url("img/default-hover-min.png"); }

.card:hover .card__text-background {
  background: #2ea8e6; }

.card--selected {
  background: url("img/selected-min.png"); }

.card--selected:hover {
  background: url("img/selected-hover-min.png"); }

.card--selected:hover .card__text-background {
  background: #e62e7a; }

.card--disabled {
  background: url("img/disabled-min.png");
  cursor: default; }

.card--disabled:hover {
  background: url("img/disabled-min.png"); }

.card--disabled:hover .card__text-background {
  background: #b3b3b3; }

.card__text-content {
  margin-left: 50px;
  padding-top: 24px; }

.card__title {
  font-size: 16px;
  color: #666; }

.card__title--disabled {
  color: rgba(179, 179, 179, 0.5); }

.card__brand {
  color: #000;
  font-size: 48px;
  font-weight: bold; }

.card__brand--disabled {
  color: rgba(179, 179, 179, 0.5); }

.card__taste {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px; }

.card__taste--disabled {
  color: rgba(179, 179, 179, 0.5); }

.card__desc {
  font-size: 14px;
  line-height: 1.14;
  color: #666; }

.card__desc--disabled {
  color: rgba(179, 179, 179, 0.5); }

.card__desc-number {
  font-weight: 600; }

.card__gift {
  font-size: 14px;
  line-height: 1.14;
  color: #666;
  width: 130px; }

.card__gift--disabled {
  color: rgba(179, 179, 179, 0.5); }

.card__gift-amount {
  font-weight: 600; }

.card__text-background {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #1698d9;
  position: absolute;
  bottom: 15px;
  right: 15px; }

.card__text-background--selected {
  background: #d91667; }

.card__text-background--disabled {
  background: #b3b3b3; }

.card__amount {
  font-size: 21px;
  line-height: 1.05;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

.card__amount-number {
  font-size: 42px;
  display: block; }

.card__text {
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0 #000;
  margin: 15px 0 30px 0; }

.card__text-buy {
  font-weight: bold;
  color: #1698d9;
  cursor: pointer;
  border-bottom: 1px dashed #1698d9; }

.card__text-disabled {
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0 #000;
  margin: 15px 0 30px 0;
  color: #ffff66; }
