@font-face {
  font-family: Exo;
  src: url(fonts/Exo2.0-Thin.otf); }

@font-face {
  font-family: Trebuchet;
  src: url(fonts/TrebuchetMS.ttf); }

html {
  width: 100%;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Trebuchet, sans-serif; }

@media only screen and (min-width: 960px) {
  body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6)), url(img/pattern.jpg); } }
