//переменные
$main-font: Trebuchet;
$exo-font: Exo;

$text-color: #666;
$black-color: #000;
$white-color: #fff;
$default-color: #1698d9;
$default-hover-color: #2ea8e6;
$selected-color: #d91667;
$selected-hover-color: #e62e7a;
$disabled-color: #b3b3b3;
